body {
	background-color: #18192f;
	color: #ffffff;
}

.initial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-block {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;

    /*border-style: solid;
    border-radius: 12px;
    border-color: unset;*/

    align-items: center;
}
.left-block {
	display: flex;
    flex-direction: column;
    margin: 2em;
}

.display-4 {
	text-align: left;
}

.image-block {
	/*margin: 2em; */
}

.icon-list {
	display: flex;
    justify-content: space-between;

    margin-right: 1.4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #ffffff8f;
}

.icon-list a {
	text-decoration: none;
	color: unset;
	transition: 0.3s;
}

.btn {
	width: 85%;
}

.github:hover {
	color: #ffffff;
}

.twitter:hover {
	color: #00c6ff;
}

.linkedin:hover {
	color: #0077b5;
}

#name {
font-family: 'Raleway', sans-serif;
/*font-family: 'Montserrat', sans-serif;*/
}

#resume {
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Montserrat', sans-serif;*/
}