---
const {
  title = "",
  isHome = false,
  backLink = "/",
  backLinkPageTitle = "",
  siteTitle = "Pavan Rao",
} = Astro.props

const backLinkTitle = backLinkPageTitle || "Back"
const pageTitle = title || siteTitle
---

<div class="my-12">
  <h2 class="text-minion-yellow text-3xl font-bold">
    {
      !isHome && (
        <div class="flex flex-col space-y-2">
          <span>{pageTitle}</span>
          <span class="text-xs">
            <a
              href={backLink}
              class="text-vivid-blue hover:text-minion-yellow transition-all"
            >
              <i class="fas fa-arrow-left mr-1" /> {backLinkTitle}
            </a>
          </span>
        </div>
      )
    }
    <slot />
  </h2>
</div>
